/* Requerimento [11] , Requerimento [12] */
/* Estilos basicos para la aparicion de carrito desde la derecha */
/* No modificar tanto, añadir nuevos estilos normal */
.cartPanel {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px; /* Ajusta el ancho según tus necesidades */
    height: 100%;
    background-color: white; /* Ajusta el color según tus necesidades */
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2); /* Ajusta tus necesidades */
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
}

.open {
    right: 0;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

