.edit-profile-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #302f2f;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: white;
}

.edit-profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.edit-profile-icon {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 16px auto;
}

.edit-profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-profile-form label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.edit-profile-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 5px;
}

.edit-profile-form button {
    padding: 10px;
    background-color:blueviolet;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.edit-profile-form button:hover {
    background-color: #0056b3;
}
