.navbar {
    margin: auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;  
    padding: 2rem 0;
}

.leftSection {
    
    display: flex;
    align-items: center;
    gap: 50px;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.navItems {
    display: flex;
    gap: 22px;
}

.navItem {
    text-decoration: none;
    color: #8c8c8c;
}

.navItem:hover:not(.active), .navItem:focus:not(.active) {
    color: #b4b4b4;
    transition: 0.3s;
}

.active {
    color: white;
}

.rightSection {
    display: flex;
    align-items: center;
    gap: 30px;
}

.loginBtn{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.loginBtn:hover, .loginBtn:focus {
    color: #e9e6e6;
}

.authSection {
    display: flex;
    align-items: center;
    gap: 20px;
}

.userMenuContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.profileSection {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.profilePic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
}

.cartBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 18px;
}

.cartBtn img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
    background-color: #1e1e1e;
    border: 1px solid #444;
    border-radius: 6px;
    padding: 10px;
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.dropdownItem {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px 8px;
    font-size: 14px;
}

.dropdownItem img {
    width: 16px;
    height: 16px;
}

.dropdownItem:hover {
    background-color: #333;
    border-radius: 4px;
}


