:root {
/* Colors */
--color-bg-dark: #1b1b1b;
--color-primary: #9D36D0;


/* Spacing */
--main-max-width-lg: 1260px;
}


/* Apply a better box model */
html {
box-sizing: border-box;
font-family: sans-serif;
scroll-behavior: smooth;
}


/* Inherit box-sizing for all elements and pseudo-elements */
*, *::before, *::after {
box-sizing: inherit;
margin: 0;
padding: 0;
}


/* Optional: Set default line-height and font smoothing */
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color: var(--color-bg-dark);
font-family: "Rubik", sans-serif;
}
