.adminContainer {
  padding: 3rem 2rem;
  background-color: #121212;
  min-height: 100vh;
  color: white;
  max-width: var(--main-max-width-lg);
  font-family: "Rubik", sans-serif;
}

.adminContainer > h1 {
  text-align: left;
  letter-spacing: -.28px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.filtersRow {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.filterSection {
  display: flex;
  gap: 3rem;
}

.addButton {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  height: 40px;
  padding: 0 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.addButton img {
  width: 19px;
  height: 19px;
}

.addButton:hover {
  background-color: #e0e0e0;
}

.filterContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
}

.filterContainer label {
  font-size: 0.9rem;
  color: #8c8c8c;
  
}

.filterContainer input, 
.filterContainer select {
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  border-radius: 8px;
  border: none;
  background-color: #353535;
  color: white;
  font-size: 0.9rem;
  font-family: "Rubik", sans-serif;
}

.filterContainer input::placeholder {
  color: #595555;
}

.gamesTable {
  width: 100%;
  color: white;
  border-collapse: separate;
  border-spacing: 0 15px; /* Espacio vertical entre filas */
}

.gamesTable th {
  text-align: left;
  padding-left: 0.75rem;
  background: transparent;
  color: gray;
  font-weight: 400;
  border: none;
}

.gameRow {
  background-color: #303030;
  overflow: hidden;
}

.gameRow:hover,
.gameRow:focus {
  background-color: var(--color-primary);
}

.gameRow:hover .actions button,
.gameRow:focus .actions button{
  opacity: 1;
  pointer-events: auto;
}

.gameRow td {
  font-weight: 400;
  font-size: 15px;
  padding: 5px 16px;
}

.gameRow td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.gameRow td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.actions button {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
}

.actions button img {
  width: 20px;
  height: 20px;
}

.editButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.deleteButton {
  background-color: #dc2626;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}


